<div class="row">
    <div class="col-12">
        <nb-card size="small">
            <nb-tabset fullWidth>
                <nb-tab tabTitle="大会結果">
                    <p>大会ID: <b>{{ myParam }}</b></p>
                </nb-tab>
                <nb-tab tabTitle="釣果入力">
                    <span>Content #2</span>
                </nb-tab>
                <nb-tab tabTitle="参加者追加">
                    <span>Content #3</span>
                </nb-tab>
            </nb-tabset>
        </nb-card>
    </div>
</div>