<div class="lists row">
    <div class="col-md-12 col-lg-6 col-xxxl-6">
        <nb-card class="list-card">
            <nb-card-header>大会一覧</nb-card-header>
            <nb-card-body>
                <nb-list>
                    <nb-list-item *ngFor="let user of users">
                        <button nbButton (click)="navigate(user.id)"><nb-user [id]="user.id" [name]="user.name">
                        </nb-user></button>
                    </nb-list-item>
                </nb-list>
            </nb-card-body>
        </nb-card>
    </div>
</div>